@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* foreground is the text color */
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.pin {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
  border: 2px solid #222;
  margin: 2px;
  vertical-align: middle;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.check-solution-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.75em 2em;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  margin: 1em 0;
}

.check-solution-btn:hover {
  background-color: #388e3c;
  outline: none;
}

.check-solution-btn:focus {
  outline: none;
}

.check-solution-btn:active {
  background-color: #9e1414;
}

.side-panel {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  top: 20px;
}
.game {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

h1 {
  text-decoration: underline;
  font-weight: bold
}